body,
input,
button,
select,
textarea {
  font-feature-settings: "kern", "liga", "pnum", "onum";
  font-optical-sizing: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}