.fade-out {
  &-start {
    opacity: 1;
  }

  &-end {
    opacity: 0;
  }

  &-transition {
    transition: opacity var(--fade-out-duration);
  }
}

.fade-in {
  &-start {
    opacity: 0;
  }

  &-end {
    opacity: 1;
  }

  &-transition {
    transition: opacity var(--fade-in-duration);
  }
}

.show {
  opacity: 1;
}

.hide {
  opacity: 0;
}
