.game {
    width: 70%;
    margin: 0 auto;
}

.scene {
    border: 1px solid silver;
    padding: 30px;
}

.scene-setting {
    padding: 30px;
    background-color: #eeeef5;
}

.scene-name, .encounter-name, .choice-name {
    font-size: 120%;
    margin-bottom: 0.7em;
}

.scene-encounters {
    padding: 30px;
    background-color: #eee0e0;
}

.scene-choices {
    padding: 30px;
    background-color: #eed0d0;
}

.encounter, .choice {
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 5px;
}

.encounter-available, .choice-available {
    cursor: pointer;
}

.encounter-unavailable, .choice-unavailable {
    background-color: #999;
}

.inventory-item-name {
    display: inline;
    padding-right: 1em;
}

.inventory-item-value {
    display: inline;
}
