<div
  phx-click="action"
  phx-value-position={@position}
  class="border border-stone-600 hover:border-stone-400 rounded-xl bg-card bg-contain cursor-pointer font-light text-stone-400 text-xs w-[90px] h-[150px] flex items-center"
>
  <span class="m-auto"><%= @card.title %></span>
</div>
