<div
  id={"card_#{@card.ref}"}
  phx-hook="Card"
  data-position={@position}
  class="card flipping border-2 border-primary-600 bg-primary-900 hover:border-primary-400 rounded-xl cursor-pointer font-light text-primary-300 w-[180px] h-[300px] bg-card bg-contain flex items-center"
>
  <span class="m-auto"><%= @card.title %></span>
</div>
