<div
  id={"card_#{@card.ref}"}
  phx-hook="Card"
  data-position={@position}
  class="border-2 border-primary-600 bg-primary-900 hover:border-primary-400 rounded-xl cursor-pointer text-primary-300 w-[135px] h-[225px] font-bold bg-card bg-contain flex items-center text-center"
>
  <span class="m-auto"><%= @card.title %></span>
</div>
