<section id="deck" class="deck" style="">
  <div :for={{card, index} <- Enum.with_index(@cards)}>
    <.card :if={card} card={card} position={index} />
    <.empty_card :if={card == nil} />
  </div>
</section>
