<div
  class="card card--blank"
  id={card_id(nil, @position)}
  phx-hook="Animated"
  data-transition-sync
  data-transition={
    cond do
      @flip_in ->
        if @picked do
          JS.transition({"flipping", "flip-hide", "flip-show"})
        else
          JS.transition({"burning", "burn-hot", "burn-cold"})
        end

      true ->
        nil
    end
  }
/>
