<div
  class="card card--blank"
  id={card_id(nil, @position)}
  phx-hook="Card"
  data-transition={
    cond do
      @flip_in -> JS.transition({"flipping", "flip-hide", "flip-show"})
      @flip_out -> JS.transition({"flipping", "flip-show", "flip-hide"})
      true -> nil
    end
  }
/>
