<div class="text-md py-10">
  You are in
  <span class="text-stone-200 font-semibold">
    <%= @tale.areas[@area].locations[@location].title %>
  </span>
  <%= @tale.areas[
    @area
  ].locations[@location].description %>
</div>
