<div class="max-w-2xl mx-auto">
  <div class="mt-12 mb-8 text-stone-300 font-extrabold">
    <%= @game.locations[@area][@location].title %>
  </div>

  <div class="mb-8">
    <div :for={para <- @game.locations[@area][@location].storyline} class="my-1">
      <%= para %>
    </div>
  </div>
</div>
