<div class="max-w-2xl mx-auto">
  <div class="mt-12 mb-8 text-primary-300 font-extrabold">
    <%= @game.locations[@area][@location].title %>
  </div>

  <div class="mb-8">
    <div
      :for={para <- Game.build_storyline(@game.locations[@area][@location], @game.qualities)}
      class="my-1"
    >
      <%= para.text %>
    </div>
  </div>
</div>
