<div class="storyline">
  <div class="content">
    <%= Game.build_storyline(@game, @game.locations[@area][@location])
    |> Enum.map(fn para ->
      para.text
      |> String.split("\n\n")
      |> Enum.map(&content_tag(:div, &1, class: "paragraph"))
    end)
    |> List.flatten() %>
  </div>
</div>
