<div class="max-w-2xl mx-auto">
  <div class="mt-8">
    <%= Game.build_storyline(@game.locations[@area][@location], @game.qualities)
    |> Enum.map(fn para ->
      para.text
      |> String.split("\n\n")
      |> Enum.map(&content_tag(:div, &1, class: "my-2"))
    end)
    |> List.flatten() %>
  </div>
</div>
