<div class="grid grid-cols-2">
  <.input
    field={@effect[:area_id]}
    type="select"
    options={Enum.map(@tale.areas, &{&1.title, &1.id})}
  />
  <.input
    field={@effect[:location_id]}
    type="select"
    options={
      Enum.map(
        locations_in_area(@tale, @effect[:area_id].value),
        &{&1.title, &1.id}
      )
    }
  />
</div>
