@use "sass:meta";
@use "../../utopia";

:root {
  @include utopia.generateTypeScale(("minWidth": 320,
      "maxWidth": 1200,
      "minFontSize": 14,
      "maxFontSize": 20,
      "minTypeScale": 1.2,
      "maxTypeScale": 1.333,
      "positiveSteps": 4,
      "negativeSteps": 2,
      "prefix": "step-",
      "relativeTo": "viewport-width"
    ));
  @include utopia.generateSpaceScale(("minWidth": 320,
      "maxWidth": 1200,
      "minSize": 14,
      "maxSize": 20,
      "positiveSteps": (1.5, 2, 3, 4, 6),
      "negativeSteps": (0.75, 0.5, 0.25),
      "customSizes": ("s-l"),
      "prefix": "space-",
      "relativeTo": "viewport-width",
    ));

  --background-color: var(--zinc-50);
  --background-hover-color: var(--zinc-100);

  --text-color: var(--zinc-800);

  --highlight-color: var(--zinc-200);
  --highlight-hover-color: var(--zinc-300);

  --critical-color: var(--rose-200);

  --space-control-separator: var(--space-2xs);
}

.admin {
  background-color: var(--background-color);
  color: var(--text-color);
  height: 100vh;

  header {
    background-color: var(--highlight-color);
    padding: 10px;
    margin-bottom: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--space-s);
  }

  a {
    color: var(--text-color);
  }

  @include meta.load-css("./controls");
  @include meta.load-css("./game-selector");
  @include meta.load-css("./tab-set");
  @include meta.load-css("./screens");
  @include meta.load-css("./blocks");
}