.admin {
  background-color: var(--slate-950);
  color: var(--slate-200);
  height: 100vh;

  header {
    background-color: var(--slate-900);
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  a {
    color: var(--slate-50);
  }

  .game-selector {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: var(--slate-950);
    border: 1px solid var(--slate-900);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;

    ul {
      /* unmarked list */
      list-style-type: none;
      padding: 0 0 1em 0;
    }
  }
}
