input,
button,
select {
  background-color: var(--background-color);
  color: var(--text-color);
  border: 1px solid var(--zinc-500);
  border-radius: 4px;
}

input {
  padding: 0.2em 0.8em;
}

select {
  padding: 0.3em 0.8em;
}

button {
  cursor: pointer;
}

.input-unit {
  display: inline-flex;
}