ul.tab-set {
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 0;
  margin-top: 0;
  list-style-type: none;

  li {
    margin: 0;
    padding: 0.5em 1em;
    background-color: var(--background-color);
    border: 1px solid var(--zinc-900);
    border-radius: 15px 15px 0 0;
    transition: background-color 0.3s;

    &:hover {
      background-color: var(--background-hover-color);
    }

    &.active {
      background-color: var(--highlight-color);
    }

    &.active:hover {
      background-color: var(--highlight-hover-color);
    }
  }
}