.hidden {
  display: none;
}

@mixin gap-x($gap) {
  &>*+* {
    margin-left: $gap;
  }
}

@mixin gap-y($gap) {
  &>*+* {
    margin-top: $gap;
  }
}

@mixin mx-auto {
  margin-left: auto;
  margin-right: auto;
}