@use "config/theme";

.hidden {
  display: none;
}

@mixin gap-x($gap) {
  &>*+* {
    margin-left: $gap;
  }
}

@mixin gap-y($gap) {
  &>*+* {
    margin-top: $gap;
  }
}

@mixin mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.flipping {
  transition: transform 300ms ease-in-out;
}

.flip-hide {
  transform: rotateY(90deg);
}

.flip-show {
  transform: rotateY(0deg);
}

.burning {
  transition: background-color 1000ms ease-in;
}

.burn-hot {
  background-color: theme.get("error", "900") !important;
}

.burn-cold {}