@use "../config/spacing";
@use "../config/theme";
@use "../config/font";

$border-regular: 1px solid theme.get("game", "600");
$border-thicker: 1px solid theme.get("game", "600");

.root.game .card {
  border-radius: spacing.$md;
  border: $border-thicker;
  background-color: theme.get("game", "900");
  color: theme.get("game", "300");
  font-weight: font.weight("bold");
  cursor: pointer;

  width: 135px;
  height: 225px;
  @include spacing.px(spacing.$xs);

  display: flex;
  align-items: center;
  text-align: center;

  &--blank {
    background-color: theme.get("game", "950");
  }

  &.enabled:hover {
    background-color: theme.get("game", "800");
  }

  &.flip-hide {
    transform: rotateY(90deg);
  }

  &.flip-show {
    transform: rotateY(0deg);
  }

  .title {
    display: block;
    width: 100%;
    text-align: center;
  }
}