.root.game .debug {
  // display: none;
  margin-top: 4em;
  border-top: 1px solid white;

  .qualities {
    font-size: 70%;
  }

  .dev-buttons {
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 1000;
  }

  .reset {
    border: 1px solid white;
    background-color: crimson;
  }
}