@use "../config/spacing";
@use "../config/theme";
@use "../utils";

$border-regular: 1px solid theme.get("game", "600");
$border-thicker: 1px solid theme.get("game", "600");

.root.game .deck {
  margin-right: spacing.$xl;
  margin-left: spacing.$xl;
  padding-top: spacing.$md;
  padding-bottom: spacing.$md;
  padding-left: spacing.$lg;
  padding-right: spacing.$lg;

  border: $border-regular;
  border-radius: spacing.$md;

  background-color: theme.get("game", "950");

  display: flex;
  justify-content: center;
  @include utils.gap-x(spacing.$md);
  transform: perspective(800px) rotateX(20deg);

}