@use "../config/spacing";
@use "../config/theme";
@use "../config/typography" as font;
@use "../utils";

$border-regular: 1px solid theme.get("editor", "600");

.root.editor {
  background-color: theme.get("editor", "900");
  color: theme.get("editor", "200");

  & header {
    padding: {
      left: spacing.$sm;
      right: spacing.$sm;
    }

    border-bottom: $border-regular;

    &>div {
      display: flex;
      align-items: center;
      justify-content: space-between;

      padding: {
        top: spacing.$sm;
        bottom: spacing.$sm;
      }

      & .title {
        margin: auto;

        font: {
          size: font.size("xl");
          weight: font.weight("semibold");
        }

      }
    }
  }

  & main {
    padding: spacing.$md;

    width: 100%;
  }
}

.editor-box {
  & .tabs {
    padding: {
      left: spacing.$lg;
      right: spacing.$lg;
    }

    display: flex;

    @include utils.gap-x(spacing.$sm);

    & .tab {
      border: $border-regular {
        top-left-radius: spacing.$sm;
        top-right-radius: spacing.$sm;
      }

      border-bottom: 0;

      padding: {
        top: spacing.$sm;
        bottom: spacing.$sm;
        left: spacing.$md;
        right: spacing.$md;
      }

      cursor: pointer;

      &.current {
        color: theme.get("editor", "950");
        background-color: theme.get("editor", "200");
      }
    }
  }

  & .tab-content {
    border: $border-regular;
    border-radius: spacing.$md;
    padding: spacing.$lg;
  }
}