@use "../config/spacing";
@use "../config/theme";
@use "../config/typography" as font;
@use "../utils";

$border-regular: 1px solid theme.get("editor", "600");

.form {
  display: flex;
  flex-direction: column;
  @include utils.gap-y(spacing.$lg);

  .action {
    margin-top: spacing.$xs;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include utils.gap-x(spacing.$sm);
  }
}

label {
  display: block;
  font-size: font.size("sm");
  font-weight: font.weight("medium");
  line-height: font.leading("6")
}

input[type=text] {
  display: block;
  margin-top: spacing.$xs;
  width: 100%;
  background-color: theme.get("editor", "900");
  color: theme.get("editor", "200");
  font-size: font.size("sm");
  padding: spacing.$xs spacing.$sm;
  border-radius: spacing.$sm;
  border: $border-regular;

  &:focus {
    background-color: theme.get("editor", "800");
  }

  &.error {
    border-color: theme.get("error", "500");
  }
}

button {
  padding: spacing.$sm spacing.$md;
  border-radius: spacing.$sm;
  border: 0;
  background-color: theme.get("editor", "800");
  color: theme.get("editor", "200");
  cursor: pointer;
  font-size: font.size("sm");
  font-weight: font.weight("semibold");
  line-height: font.leading("6");

  &:hover {
    background-color: theme.get("editor", "700");
  }
}