@use "../config/spacing";
@use "../config/theme";
@use "../config/font";
@use "../utils";

$border-regular: 1px solid theme.get("game", "600");
$border-thicker: 1px solid theme.get("game", "600");

.root.game {
  background-color: theme.get("game", "900");
  color: theme.get("game", "200");

  header {
    border-bottom: $border-regular;

    .title-wrapper {
      padding: spacing.$sm 0;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .title {
        margin: auto;
        font-size: font.size("xl");
        font-weight: font.weight("bold");
        text-align: center;
      }

      .subtitle {
        font-size: font.size("lg");
      }
    }
  }

  main {
    padding-left: spacing.$md;
    padding-right: spacing.$md;
  }

  .loading {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: font.size("lg");
  }

  .location {
    text-align: center;
    margin-left: auto;
    margin-right: auto;

    .title {
      margin-top: spacing.$xl;
      margin-bottom: spacing.$lg;
      font-size: font.size("lg");
      font-weight: font.weight("extrabold");
    }
  }

  .storyline {
    max-width: 40rem;
    @include utils.mx-auto;

    .content {
      margin-top: spacing.$md;

      .paragraph {
        margin-top: spacing.$sm;
        font-size: font.size("sm");
      }
    }
  }

}