@use "sass:map";
@use "colors";

$palletes: (
  "neutral": colors.$neutral,
  "warning": colors.$amber,
  "error": colors.$red,
  "fail": colors.$rose,
  "success": colors.$emerald,
  "pass": colors.$emerald,
  "info": colors.$emerald,

  "editor": colors.$slate,
  "game": colors.$zinc
);

@function get($pallete, $shade) {
  @return map.get($palletes, $pallete, $shade);
}

$text-main: get("neutral", "700");
$text-secondary: get("neutral", "500");