:root {
  --amber-50:#fdfbf8;
  --amber-100:#fcf2e8;
  --amber-200:#f8e0c8;
  --amber-300:#f4c79a;
  --amber-400:#eead69;
  --amber-500:#e79325;
  --amber-600:#bb7305;
  --amber-700:#975b03;
  --amber-800:#6c4002;
  --amber-900:#442701;
  --amber-950:#201001;
}

@supports (color: oklch(0% 0 0)) {
  @media (color-gamut: p3) {
    :root {
      --amber-50:oklch(0.988281 0.0046875 66.6667);
      --amber-100:oklch(0.966797 0.0171875 66.6667);
      --amber-200:oklch(0.919922 0.0421875 66.6667);
      --amber-300:oklch(0.857422 0.078125 66.6667);
      --amber-400:oklch(0.794922 0.114063 66.6667);
      --amber-500:oklch(0.732422 0.151562 66.6667);
      --amber-600:oklch(0.619141 0.135937 66.6667);
      --amber-700:oklch(0.527344 0.115625 66.6667);
      --amber-800:oklch(0.414063 0.090625 66.6667);
      --amber-900:oklch(0.302734 0.065625 66.6667);
      --amber-950:oklch(0.191406 0.040625 66.6667);
    }
  }
}
