:root {
  --blue-50:#f8fcfe;
  --blue-100:#eaf5fe;
  --blue-200:#cbe8fd;
  --blue-300:#9fd5fc;
  --blue-400:#6fc2fa;
  --blue-500:#2caff9;
  --blue-600:#0c8aca;
  --blue-700:#0a6fa3;
  --blue-800:#054f75;
  --blue-900:#03314a;
  --blue-950:#011523;
}

@supports (color: oklch(0% 0 0)) {
  @media (color-gamut: p3) {
    :root {
      --blue-50:oklch(0.988281 0.0046875 240);
      --blue-100:oklch(0.964844 0.0171875 240);
      --blue-200:oklch(0.916016 0.0421875 240);
      --blue-300:oklch(0.849609 0.078125 240);
      --blue-400:oklch(0.783203 0.114063 240);
      --blue-500:oklch(0.71875 0.151562 240);
      --blue-600:oklch(0.605469 0.135937 240);
      --blue-700:oklch(0.517578 0.115625 240);
      --blue-800:oklch(0.40625 0.090625 240);
      --blue-900:oklch(0.296875 0.065625 240);
      --blue-950:oklch(0.1875 0.040625 240);
    }
  }
}
