:root {
  --cyan-50:#f8fcfb;
  --cyan-100:#e7f7f3;
  --cyan-200:#c5ece3;
  --cyan-300:#92ddce;
  --cyan-400:#51cdb8;
  --cyan-500:#00b9a3;
  --cyan-600:#009280;
  --cyan-700:#007667;
  --cyan-800:#005348;
  --cyan-900:#00332c;
  --cyan-950:#001712;
}

@supports (color: oklch(0% 0 0)) {
  @media (color-gamut: p3) {
    :root {
      --cyan-50:oklch(0.988281 0.0046875 180);
      --cyan-100:oklch(0.962891 0.0171875 180);
      --cyan-200:oklch(0.912109 0.0421875 180);
      --cyan-300:oklch(0.84375 0.078125 180);
      --cyan-400:oklch(0.773438 0.114063 180);
      --cyan-500:oklch(0.705078 0.151562 180);
      --cyan-600:oklch(0.591797 0.135937 180);
      --cyan-700:oklch(0.505859 0.115625 180);
      --cyan-800:oklch(0.396484 0.090625 180);
      --cyan-900:oklch(0.289063 0.065625 180);
      --cyan-950:oklch(0.181641 0.040625 180);
    }
  }
}
