:root {
  --lime-50:#fbfbf8;
  --lime-100:#f4f4e7;
  --lime-200:#e6e6c6;
  --lime-300:#d3d296;
  --lime-400:#c2be63;
  --lime-500:#b1aa0f;
  --lime-600:#8c8700;
  --lime-700:#716c00;
  --lime-800:#504c00;
  --lime-900:#322f00;
  --lime-950:#161500;
}

@supports (color: oklch(0% 0 0)) {
  @media (color-gamut: p3) {
    :root {
      --lime-50:oklch(0.988281 0.0046875 106.667);
      --lime-100:oklch(0.964844 0.0171875 106.667);
      --lime-200:oklch(0.916016 0.0421875 106.667);
      --lime-300:oklch(0.849609 0.078125 106.667);
      --lime-400:oklch(0.785156 0.114063 106.667);
      --lime-500:oklch(0.720703 0.151562 106.667);
      --lime-600:oklch(0.607422 0.135937 106.667);
      --lime-700:oklch(0.519531 0.115625 106.667);
      --lime-800:oklch(0.408203 0.090625 106.667);
      --lime-900:oklch(0.298828 0.065625 106.667);
      --lime-950:oklch(0.189453 0.040625 106.667);
    }
  }
}
