:root {
  --orange-50:#fefaf9;
  --orange-100:#fff1eb;
  --orange-200:#ffddcf;
  --orange-300:#fec1a8;
  --orange-400:#fba581;
  --orange-500:#f88756;
  --orange-600:#c9683d;
  --orange-700:#a25330;
  --orange-800:#743a20;
  --orange-900:#4a2211;
  --orange-950:#230d05;
}

@supports (color: oklch(0% 0 0)) {
  @media (color-gamut: p3) {
    :root {
      --orange-50:oklch(0.988281 0.0046875 43.3333);
      --orange-100:oklch(0.966797 0.0171875 43.3333);
      --orange-200:oklch(0.921875 0.0421875 43.3333);
      --orange-300:oklch(0.859375 0.078125 43.3333);
      --orange-400:oklch(0.798828 0.114063 43.3333);
      --orange-500:oklch(0.738281 0.151562 43.3333);
      --orange-600:oklch(0.623047 0.135937 43.3333);
      --orange-700:oklch(0.53125 0.115625 43.3333);
      --orange-800:oklch(0.417969 0.090625 43.3333);
      --orange-900:oklch(0.304688 0.065625 43.3333);
      --orange-950:oklch(0.191406 0.040625 43.3333);
    }
  }
}
