:root {
  --sky-50:#f8fcfd;
  --sky-100:#e6f6f9;
  --sky-200:#c3ebf2;
  --sky-300:#8edbe9;
  --sky-400:#49cadf;
  --sky-500:#00b5cb;
  --sky-600:#008fa1;
  --sky-700:#007381;
  --sky-800:#00515c;
  --sky-900:#003239;
  --sky-950:#00161a;
}

@supports (color: oklch(0% 0 0)) {
  @media (color-gamut: p3) {
    :root {
      --sky-50:oklch(0.988281 0.0046875 210);
      --sky-100:oklch(0.962891 0.0171875 210);
      --sky-200:oklch(0.914063 0.0421875 210);
      --sky-300:oklch(0.845703 0.078125 210);
      --sky-400:oklch(0.777344 0.114063 210);
      --sky-500:oklch(0.708984 0.151562 210);
      --sky-600:oklch(0.595703 0.135937 210);
      --sky-700:oklch(0.507813 0.115625 210);
      --sky-800:oklch(0.398438 0.090625 210);
      --sky-900:oklch(0.291016 0.065625 210);
      --sky-950:oklch(0.181641 0.040625 210);
    }
  }
}
