:root {
  --teal-50:#f9fcfa;
  --teal-100:#e9f7ef;
  --teal-200:#cbebd8;
  --teal-300:#9fdcba;
  --teal-400:#6ecc9d;
  --teal-500:#23bc7f;
  --teal-600:#009662;
  --teal-700:#00794e;
  --teal-800:#005636;
  --teal-900:#003520;
  --teal-950:#00180c;
}

@supports (color: oklch(0% 0 0)) {
  @media (color-gamut: p3) {
    :root {
      --teal-50:oklch(0.988281 0.0046875 160);
      --teal-100:oklch(0.962891 0.0171875 160);
      --teal-200:oklch(0.912109 0.0421875 160);
      --teal-300:oklch(0.84375 0.078125 160);
      --teal-400:oklch(0.775391 0.114063 160);
      --teal-500:oklch(0.705078 0.151562 160);
      --teal-600:oklch(0.59375 0.135937 160);
      --teal-700:oklch(0.507813 0.115625 160);
      --teal-800:oklch(0.398438 0.090625 160);
      --teal-900:oklch(0.291016 0.065625 160);
      --teal-950:oklch(0.183594 0.040625 160);
    }
  }
}
