<h1>{@screen.name}</h1>
<.form :let={f} for={@screen} phx-change="update-screen">
  <.button type="button" phx-click="add-block">Add Block</.button>
  <.inputs_for :let={block} field={f[:blocks]}>
    <.block block={block} index={block.index} />
  </.inputs_for>
</.form>
