<header class="px-4 sm:px-6 lg:px-8 border-b border-stone-600">
  <div class="flex items-center justify-between py-3 text-sm">
    <div class="m-auto text-stone-300 text-xl font-semibold">Tall Tale Editor</div>
  </div>
</header>
<main class="px-4 sm:px-6 lg:px-8">
  <div class="w-full">
    <.flash_group flash={@flash} />
    <%= @inner_content %>
  </div>
</main>
