body {
    margin: 0;
    padding: 0;
}
.editor {
    width: 100%;
    margin: 0;
}

.editor .header {
    padding: 1em;
    background-color: #44aadd;
}

.editor .world {
    padding: 1em;
    background-color: #eeeedd;
}
