.game {
}

.world {
    margin: 0 auto;
    width: 50%;
    padding: 2em 0 3em 0;
}

.world-title {
    width: 100%;
    text-align: center;
    font-size: 200%;
}

.scene {
    width: 70%;
    margin: 0 auto;
    border: 1px solid silver;
    padding: 30px;
}

.scene-setting {
    border: 3px solid black;
    padding: 30px;
    background-color: #eeeef5;
}

.scene-name, .encounter-name, .choice-name {
    font-size: 120%;
    margin-bottom: 0.7em;
}

.scene-encounters {
    padding: 30px;
    border: solid black;
    border-width: 0 3px 3px 3px;
    background-color: #f5f5ee;
}

.scene-choices {
    padding: 30px;
    border: solid black;
    border-width: 0 3px 3px 3px;
    background-color: #f5eeee;
}

.encounter, .choice {
    padding: 20px;
    border: 1px solid #ccc;
    margin-bottom: 5px;
}

.encounter-available, .choice-available {
    cursor: pointer;
    transition-property: background-color;
    transition-duration: 0.2s;
}

.encounter-available:hover {
    background-color: #ffffee;
}

.choice-available:hover {
    background-color: #ffeeee;
}

.encounter-unavailable, .choice-unavailable {
    background-color: #999;
    color: #444;
}

.inventory {
    margin-top: 1em;
    padding: 1em;
    border: 1px dotted black;
    .item {
        display: inline-block;
        border-bottom: 1px dotted #555;
        .name {
            font-weight: bold;
            display: inline;
            &::after {
                content: ": ";
            };
        }
        .value {
            display: inline;
        }
    }
    .item-fatigue {
        color: #930;
    }
}

.game-reset {
    width: 30%;
    text-align: center;
    padding: 1em;
    margin: 1em auto 0 auto;
    background-color: #ffeeee;
    color: #eebbbb;
}
