<div>
  <.inputs_for :let={button} field={@block["button"]}>
    <.input field={button["text"]} placeholder="Button text…" autocomplete="off" />
    <.input
      field={button["action_id"]}
      type="select"
      options={Enum.map(@screen.actions, &{&1["name"], &1["id"]})}
      prompt="Action…"
    />
  </.inputs_for>
</div>
