<div class="common">
  <input type="hidden" name="block_order[]" value={@block.index} />
  <.input field={@block["type"]} type="select" options={["heading", "button"]} prompt="Type" />
  <.input field={@block["name"]} placeholder="Name" autocomplete="off" phx-debounce="250" />
</div>
